body{
  background: url("https://t4.ftcdn.net/jpg/02/94/30/19/360_F_294301937_tIUl9X7ejlxa8G5FxhC9OROlXNkNS6XC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.wrapper{
  width: 100%;
  display: flex;
  /* justify-content - հատկությունը սահմանում է, թե ինչպես է բրաուզերը տարածությունը բաշխում բովանդակության տարրերի միջև, center-ը տեղափոխում է կենտրոն*/
  justify-content: center;
}
.wrapper-content{
  display: flex;
  /* եթե ունենք օրինակ 4 հատ քառակուսի,space-between-ը էկրանի լայնքը բաժանում է հավասար մասերի և միմյանցից հավասար հեռավորության վրա տեղադրում է այդ 4 քառակուսիները ամբողջ էկրանի լայնքով */
  justify-content: space-between;
  width: 1100px;
}

form{
  display: flex;
  /* եթե ունենք օրինակ 4 հատ քառակուսի,flex-direction: column-ը ձախ վերևից սյունյակաձև տեղադրում է այդ քառակուսիները */
  flex-direction: column;
}
.input{
  padding: 1.5%;
  margin: 1.5%  ;
  text-align: center;
  margin-left: 30%;
  font-size:20px
  
}
 

.buttons-wrapper{
  display: flex;
  justify-content: space-between;
  width: 130%;
  margin: 2% 3%;
}
.butt1{
  width: 37%;
  background-color: #00FF42;
  color: black;
  margin-left: 21%;
}

.butt1:hover{
  background: #FF0277;
  color: white;
}

.butt2{
  width: 37%;
  background-color: #00FF42;
  color: black;
  margin-right: 1%;
}

.butt2:hover{
  background: #FF0277;
  color: white;
}
table{
  width: 127%;
  /* border-collapse: collapse-ը սահմանում է որ աղյուսակի բոլոր գծային սահմանները լինեն ընդհանուր, իսկ border-collapse: separate-ի դեպքում յուրաքանչյուր ուղանկյուն առանձնանում է որոշակի տարածությամբ մյուս ուղանկյուններից */
  border-collapse: collapse;
  border: 4px ridge #FFFF00;
  margin-top: 0.7%;
  font-size: 20px;
  margin-left: -4%;
}

th{
 
  border: 2px solid #FFFF00;
  text-align: center;
  padding: 10px 20px;
  background-color: #FF5BAD;
  font-size: 20px;  
}
/* :first-child այս կոնցեպտը նրա համար է որպեսզի որոշակի առանձնահատկություն տա ծնողի առաջին երեխային(child),
տվյալ դեպքում որոշակի յուրահատուկ պարամետրեր է տրվում th-ի առաջին երեխային */
th:first-child{
  min-width: 20px;
}
.edit-action{
  width: 35%;
  margin: 3%;
  background-color: #00FF42;
  color: black;
}
.edit-action:hover{
  background: blueviolet;
  color: white;
}
.remove-action{
  width: 55%;
  background-color: #00FF42;
  color: black;
}
.remove-action:hover{
  background: blueviolet;
  color: white;
}

td{
  border: 2px ridge #FFFF00;
  text-align: center;
  background-color: white;
  
}


