.wrapper1 {
  width: 80%;
  display: flex;
  /* justify-content - հատկությունը սահմանում է, թե ինչպես է բրաուզերը տարածությունը բաշխում բովանդակության տարրերի միջև, center-ը տեղափոխում է կենտրոն*/
  justify-content: center;
}

.wrapper-content1 {
  display: flex;
  /* եթե ունենք օրինակ 4 հատ քառակուսի,space-between-ը էկրանի լայնքը բաժանում է հավասար մասերի և միմյանցից հավասար հեռավորության վրա տեղադրում է այդ 4 քառակուսիները ամբողջ էկրանի լայնքով */
  justify-content: space-between;
  width: 1200px;
}

.form1 {
  display: flex;
  /* եթե ունենք օրինակ 4 հատ քառակուսի,flex-direction: column-ը ձախ վերևից սյունյակաձև տեղադրում է այդ քառակուսիները */
  flex-direction: column;
}

.input1 {
  width: 95%;
  margin: 1.5%;
  text-align: center;
  margin-left: 85%;
  font-size: 20px
}

.buttons-wrapper1 {
  display: flex;
  justify-content: space-between;
  width: 130%;
  margin: 2% 3%;
  margin-left: 60%;
}

.butt1 {
  width: 35%;
  background-color: #00FF42;
  color: black;
  margin-left: 20%;
}

.butt1:hover {
  background: blueviolet;
  color: white;
}

.butt2 {
  width: 35%;
  background-color: #00FF42;
  color: black;
  margin-right: 7%;
}

.butt2:hover {
  background: blueviolet;
  color: white;
}

.table1 {
  width: 110%;
  /* border-collapse: collapse-ը սահմանում է որ աղյուսակի բոլոր գծային սահմանները լինեն ընդհանուր, իսկ border-collapse: separate-ի դեպքում յուրաքանչյուր ուղանկյուն առանձնանում է որոշակի տարածությամբ մյուս ուղանկյուններից */
  border-collapse: collapse;
  border: 4px ridge #FFFF00;
  margin-top: 0.6%;
  font-size: 18px;
  margin-left: 25%;
}

.th1 {
  border: 2px solid #FFFF00;
  text-align: center;
  padding: 10px 20px;
  background-color: #FF5BAD;
  font-size: 18px;
}

/* :first-child այս կոնցեպտը նրա համար է որպեսզի որոշակի առանձնահատկություն տա ծնողի առաջին երեխային(child),
տվյալ դեպքում որոշակի յուրահատուկ պարամետրեր է տրվում th-ի առաջին երեխային */
.th1:first-child {
  min-width: 20px;
}

.edit-action1 {
  width: 35%;
  margin: 3%;
  background-color: #00FF42;
  color: black;
  font-size: 20px;
  border-radius: 40%;

}

.edit-action1:hover {
  background: blueviolet;
  color: white;
}

.remove-action1 {
  width: 58%;
  background-color: #00FF42;
  color: black;
  font-size: 20px;
}

.remove-action1:hover {
  background: blueviolet;
  color: white;
}

.td1 {
  border: 2px ridge #FFFF00;
  text-align: center;
}

.home {
  width: 50%;
  margin-left: 108%;
  background: yellow;
  color: black;
}

.home:hover {
  background: blueviolet;
  color: white;
}
