.body {
	width: 100%;
	height: 635px;
	/* background: url(./image/kapan.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
  }

  img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -99;
	
  }
 .container-image{
   position:relative;
   left: 30px;
}
  
.profile {
    height: 100px;
    width: 100px;
	border-radius: 130px;
	z-index: 99;
  } 
.wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}
.wrapper-content {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.forma{
	margin: 10px;
	display: flex;
	flex-direction: column;
}
/* span{
	font-size: 30px;
	text-align: center;
} */
.input_name {
	padding: 10px;
	margin: 5px 0;
	text-align: left;
	background-color: rgba(203, 163, 240, 0.8);
	color: black;
	font-size: 30px;
	border-radius: 20px;
	border: 2px solid black;
}

.buttons-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 10px 0;
}
.button_input {
	width: 180px;
	height: 50px;
	background: blueviolet;
	margin:0 5px;
	border-radius: 15px;
	border: 2px solid black;
	color : black;
	font-weight: 600;
	font-size: 20px;

}
.button_input:hover {
	background-color:rgb(225, 209, 209);
	color: blueviolet;
}
.table {
	margin: 10px;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid white;
	color: black;
}
.th {
	min-width: 140px;
	border: 2px solid black;
	text-align: center;
	padding: 5px;
	background-color: rgba(203, 163, 240, 0.8);
	color: black;
	font-size: 20px;
}
.tha{
	min-width: 30px;
	border: 2px solid black;
	text-align: center;
	padding: 5px;
	background-color: rgba(203, 163, 240, 0.8);
	color: black;
	font-size: 20px;
}

.td {
	border: 2px solid blueviolet;
	background-color:antiquewhite;
	padding: 5px;
	color: black;
	font-weight: 900;
	text-align: center;
}
.tdt {
	border: 2px solid blueviolet;
	background-color: antiquewhite;
	padding: 5px;
	color: black;
	font-weight: 900;
	text-align: center;
}
.tda {
	border: 2px solid blueviolet;
	background-color: antiquewhite;
	padding: 5px;
	color: black;
	font-weight: 900;
	text-align: center;
}
/* .td-btn {
	width: 260px;
} */
.edit-action {
  background-color: blueviolet;
  color: black;
  font-size: 18px;
  width: 90px;
  height: 30px;
  margin: 0 10px;
  border-radius: 10px;
  
}
.edit-action:hover{
	background-color:rgb(225, 209, 209);
	color: blueviolet;
  }
.remove-action{
background-color: blueviolet;
  color: black;
  font-size: 18px;
  width: 100px;
  height: 30px;
  margin: 0 10px;
  border-radius: 10px;
}
.remove-action:hover{
	background-color: rgb(225, 209, 209);
	color: blueviolet;
  }

 .home-btn{
	position: absolute;
	bottom: 20px;
	left: 25px;
	min-width: 150px;
	border: 2px solid black;
	text-align: center;
	padding: 5px;
	background-color:blueviolet;
	color: black;
	border-radius: 10px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	
 }
 .home-btn:hover{
	background-color: rgb(225, 209, 209);
	color: blueviolet;
	transform: scale(1.3);
    transition-duration: 0.5s;     
  cursor: pointer;
 }
 .bg{
	position: absolute;
	top: 5px;
	left: 0;
	min-width: 70px;
	border: 2px solid black;
	text-align: center;
	padding: 5px;
	background-color:blueviolet;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	
 }

